


<div class="modal" id="modalDetalhes" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="idTitulo"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <img class="card h-50" id="idimagem" />
                        <br />
                    </div>
                    <h3>Ingredientes</h3>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Peso</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h3>Modo de preparo</h3>
                        <h6 id="idModoFazer"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

