@model MasterChef.Domain.Entities.Lead

@{
    ViewData["Title"] = "Cadastro";
}
<div align="center">
    <h1>Cadastrar</h1>

    <h4>Bem Vindo!</h4>
    <p>Coloque seus dados no formulário abaixo!</p>

    <hr />
    <div align="center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" placeholder="Seu nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="email@email.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" placeholder="Número do Telefone"/>
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cupom" class="control-label"></label>
                    <input asp-for="Cupom" class="form-control" placeholder="Digite seu CUPOM de desconto" />
                    <span asp-validation-for="Cupom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="AceitaPropaganda" class="form-check-input" type="checkbox" />
                    Aceito receber propagandas<br />
                    <span asp-validation-for="AceitaPropaganda" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <!-- <a asp-action="Index">Back to List</a> -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
